<div class="col-lg-4">
    <ul class="list-group" *ngIf="history">
        <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-dark"
            *ngFor="let historyItem of history.items">
            <div class="ms-2">
                <div class="fw-bold">{{historyItem.artists[0].name}}</div>
                <p>{{historyItem.name}}</p>
            </div>
            <span class="badge bg-success rounded-pill">{{historyItem.popularity}}</span>
        </li>
    </ul>
</div>